# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/siteguru?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-a-secret-with-openssl-rand-base64-32"

# Redis
REDIS_URL="redis://localhost:6379"

# Weather API (OpenWeatherMap)
OPENWEATHER_API_KEY=""

# OAuth Providers (optional)
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
